.wrap {
  max-width: 880px;
  margin: 0 auto;
}

.slider-wrap-bar {
  width: 100%;
  background-color: var(--wolves-orange-transparent);
}

/*.glide__track {*/
/*  background-color: rgba(255, 216, 99, 0.43);*/
/*}*/

.glide__slides {
  width: 100%;
  overflow: visible !important;
  margin: 2rem 0;
}

.glide__slide {
  margin: 1.3rem auto;
  text-align: center;
  transition: .1s all linear !important;
  position: relative;
  opacity: 0.7;
}

.slide-img {
  position: relative;
  top: 0;
  width: 100%;
  opacity: 0.78;
}

.slider_active_slide .slide-img {
  border: 2px solid var(--wolves-white);
  transform: scale(1.1);
  opacity: 1;
}

.glide__slide--active {
  opacity: 1;
  filter: none;
  transform: scale(1.1);
}


.slide-count {
  width: 2.09rem;
  height: 2.09rem;
  line-height: 2.09rem;
  text-align: center;
  border-radius: 50%;
  background-color: #ffb89f;
  color: black;
  z-index: 10;
  position: absolute;
  font-weight: bold;
  top: 7px;
  right: 6px;
}

